* {margin: 0;}

:root {--whitish: #ecf6ff;
       --emphase: #c1cafa; /*  #A5B4FC;*/
       --background: linear-gradient(to right,#1b2956, #31478e);
       --darkshadow: #1F2039;}

@font-face {
        font-display: swap;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        src: url('fonts/manrope-v15-latin-regular.woff2') format('woff2');
      }

@font-face {
        font-display: swap;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        src: url('fonts/montserrat-v26-latin-regular.woff2') format('woff2');
      }
@font-face {
        font-display: swap;
        font-family: 'Pompiere';
        font-style: normal;
        font-weight: 400;
        src: url('fonts/pompiere-v19-latin-regular.woff2') format('woff2');
      }

a {font-size: 1em;
    /* color: #242424; */
    text-decoration: none;}
a:hover {text-decoration: underline;}

.contactlink {color:var(--whitish)}

em {font-style: normal;
    color: var(--emphase);}


h1 {font-size: 3.5em;
    color: var(--emphase);
    /* color: #38B6FF; */
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    text-shadow: 4px 4px var(--darkshadow);
}

h2 {color: #1F2039;
    font-size:1.4em;
    /* font-family: 'Pompiere', sans-serif; */
    text-align: center;}

    
h3, caption {color: #dedede;
        font-size:1.4em;
        font-family: 'Montserrats', sans-serif;
        text-align: center;
        text-shadow: 2px 2px var(--darkshadow);}
caption {margin: 25px;}

p {font-size: 1.1em;
    font-family: 'Manrope', sans-serif;
    color:var(--whitish);}
th {text-decoration: underline;}

ul {font-size: 1em;
    font-family: 'Manrope', sans-serif;
    color:var(--whitish);}

#cont1,
.bggradient,
.tarifs {background: var(--background);}

footer {background: var(--background);
        padding: 20px 20px;}

footer p {color: white;
        font-size: 0.93em;
        text-align: right;
        margin-right: 05%;}

.footerreverse p {color: var(--darkshadow);
        font-size: 0.93em;
        text-align: right;
        margin-right: 05%;
        padding: 20px 20px;}

.icone_reseau:hover {opacity: 0.5;}

.callme {background: linear-gradient(#8e86b5, #acaeed);
        color:white;
        font-family: 'Manrope', sans-serif;
        padding: 6px 20px;
        border-radius: 50px;
        display:inline-block;
        margin-bottom: 20px;}

.callme:hover {background: linear-gradient(#696484, #8788BA);
                text-decoration: none;}

.about {border-right: 1px solid #8e86b5;
        border-bottom: 1px solid #8e86b5;}

.intro {border-right: 1px solid #8e86b5;
        border-bottom: 1px solid #8e86b5;
        padding: 50px;
        text-align: center;}

.intro h2, ul {margin-top: 30px;}

section {padding: 80px;}

#cont1 {display: flex;
        flex-wrap: wrap;
        justify-content: space-around;}
/* #cont1 {display:grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 150px 150px;
        row-gap: 50px;} */

/* .presentation {grid-column-start: 1;
                grid-column-end: 3;} */

.localdupont {margin-left: 75px;
              margin-top: 30px;
              box-shadow: 10px 10px var(--darkshadow);
              grid-row: 1/3;
              align-content: flex-end;
              /* box-shadow: 10px 10px 0px 0px #1F2039; */
              /* padding: 10px */}
.horaires {font-size: 1.2em;}

.blockservices {
        margin-top: 25px;
        margin-left: auto;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* background-color: rgb(255, 255, 255) */
        ;}

.blockservices > * {width: 48%;
          text-align: center;
          margin-top: 20px;
          /* .roundedcorners {border-radius: 30px;*/
          font-family: 'Pompiere', sans-serif;
          font-size: 1.2em;
        }

table {border-collapse: collapse;
        margin: auto;}

td, th {border: 1px solid #4a4c8a;
        padding:10px;
        text-align: center;
        max-width: 33%; 
        text-shadow: 2px 2px var(--darkshadow);
        font-size: inherit;
        font-family: 'Manrope', sans-serif;
        color:var(--whitish);
        -webkit-text-size-adjust: 100%;}

td:nth-child(3), th:nth-child(3) {
        width: 20%; /* (Column 3 table responsiveness value) */
        }

.gridbox {height: 100px;
        text-align: center;
        text-shadow: 2px 2px var(--darkshadow);}

nav {display: flex;
        flex: auto;
        /* flex-direction: right; */
        justify-content: space-between;
        align-items: center;
        margin: 10px;}  

nav a, nav p { font-family: 'Montserrat', sans-serif;
        color:#1F2039;
        margin-left: 30px;
        text-decoration: none;
        font-size: 1.1em;}
/* nav a:hover {text-decoration: none;} */

form {display: flex;
        flex-direction: column;
        margin:auto;
        width: 50%;}

input {padding: 15px;
        border: 1px solid black;
        margin-bottom: 20px;
        border-radius: 20px;}

select {padding: 5px;
        margin-bottom: 20px;
        border-radius: 20px;}

label {font-family: 'Montserrat', sans-serif;
        color: #ecf6ff;}

textarea {border-radius: 15px;
        height: 150px;}

.submitform {background: linear-gradient(#8e86b5, #acaeed);
                color:white;
                font-family: 'Manrope', sans-serif;
                padding: 6px 20px;
                border-radius: 50px;
                margin-top: 20px;
                font-size: 1.12em;}
        
.submitform:hover {background: linear-gradient(#696484, #8788BA);
                        text-decoration: none;}
