* {margin: 0;}

:root {--whitish: #ecf6ff;
       --emphase: #c1cafa; /*  #A5B4FC;*/
       --background: linear-gradient(to right,#1b2956, #31478e);
       --darkshadow: #1F2039;}

a {font-size: 1em;
    /* color: #242424; */
    text-decoration: none;}
a:hover {text-decoration: underline;}

.contactlink {color:var(--whitish)}

em {font-style: normal;
    color: var(--emphase);}


h1 {font-size: 3.5em;
    color: var(--emphase);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    text-shadow: 4px 4px var(--darkshadow);}

h2 {color: #1F2039;
    font-size:1.4em;
    font-family: 'Monserrat', sans-serif;
    text-align: center;}

p {font-size: 1.1em;
    font-family: 'Manrope', sans-serif;
    color:var(--whitish);}

ul {font-size: 1em;
    font-family: 'Manrope', sans-serif;
    color:var(--whitish);}

/* body {background-color:#1F2039;} */
.cont1,
.bggradient,
.tarifs {background: var(--background);}


header,
footer {
        /* background-color: #ffffff; */
        padding: 20px, 50px, 20px,}


.icone_reseau:hover {opacity: 0.5;}

.callme {background: linear-gradient(#8e86b5, #acaeed);
        color:white;
        font-family: 'Manrope', sans-serif;
        padding: 6px 20px;
        border-radius: 50px;}

.callme:hover {background: linear-gradient(#696484, #8788BA);
                text-decoration: none;}

.about {border-right: 1px solid #8e86b5;
        border-bottom: 1px solid #8e86b5;}

.intro {border-right: 1px solid #8e86b5;
        border-bottom: 1px solid #8e86b5;
        padding: 50px;
        text-align: center;}

.intro h2, ul {margin-top: 30px;}

section {padding: 80px;}

.cont1 {display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 40px;}

.localdupont {margin-left: 75px;
              margin-top: 30px;
              box-shadow: 10px 10px var(--darkshadow);
              align-content: flex-end;
              /* box-shadow: 10px 10px 0px 0px #1F2039; */
              /* padding: 10px */}

.blockservices {
        margin-top: 25px;
        margin-left: auto;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* background-color: rgb(255, 255, 255) */
        ;}

.comp, .smartp, .electrom, .deplac {width: 48%;
                                    text-align: center;
                                    margin-top: 20px;
                                    /* .roundedcorners {border-radius: 30px;*/}
.tarifs {display: grid;
        grid-template-columns: 200px 380px 220px;
        grid-template-rows: 150px 150px 200px 150px 300px 150px 150px 150px 200px 250px 250px 250px 200px;
        gap:0 100px;
        justify-content: center;
        align-items: center;
        }

.tarifs > * {
        display: flex;
        align-items: center;
        justify-content: center;
        }

.gridbox {height: 100px;
        text-align: center;
        text-shadow: 2px 2px var(--darkshadow);}